<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<p>Flex Office System</p>
<input type="date" formControlName="selectedDate">
<div>
  <ul>
    <li *ngFor="let workstation of workstationList">
      <div *ngIf="workstation.freeDays | containsSelectedDate: this.formDate">
          {{workstation.id}}, {{workstation.label}}, {{workstation.telephone}}, {{workstation.mouse}}, {{workstation.headset}}, {{workstation.noise}}, {{workstation.freeDays}}
      </div>
    </li>
  </ul>
</div>

