<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div  style="background: rgb(192,222,248);width:10%;float:left;height:120px;margin:auto" >
  <img src="/assets/FlexOffice.png"
  style="height:70px;display:block; margin-left:auto; margin-top:20px;margin-right:auto; margin-bottom:auto;"/>
</div>
<div  style="background: rgb(192,222,248);width:70%;float:left;height:120px" >

<form [formGroup]="form" >
 <br>Gewünschtes Datum: &nbsp;&nbsp; <input type="date" formControlName="selectedDate" (change)="onChange($event)">
  <br><br>Ausstattung:&nbsp;&nbsp;
   <input type="checkbox" formControlName="telephoneNeeded" (change)="onChange($event)">&nbsp;&nbsp;Telefon&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" formControlName="headsetNeeded" (change)="onChange($event)">&nbsp;&nbsp;Headset&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" formControlName="mouseNeeded" (change)="onChange($event)">&nbsp;&nbsp;Maus&nbsp;&nbsp;&nbsp;&nbsp;
</form>
</div>
<div  style="background: rgb(188,201,72);width:20%;float:left;height:120px" >&nbsp;<br><br><br></div>

<div style="width:100%;clear:left;padding-top:10px">
    <a style="float: right" (click)="openRoomplan()"><button>Raumplan</button></a>
  <p *ngIf="filteredWorkstations?.length === 0">Es sind leider keine freien Plätze verfügbar<img src="/assets/beaker.PNG" style="padding-top:10px"/></p>
  <p *ngIf="filteredWorkstations?.length == 1 ">Es ist {{filteredWorkstations?.length }} freier Platz verfügbar:</p>
  <p *ngIf="filteredWorkstations?.length > 1 ">Es sind {{filteredWorkstations?.length }} freie Plätze verfügbar:</p>

  <table class="table table-striped table-hover" *ngIf="filteredWorkstations?.length !== 0">
    <thead style="background:  rgb(29,77,139);color:white">
    <tr>
          <th style="text-align:center" >Platznummer</th>
          <th  style="text-align:center" >Telefon vorhanden</th>
          <th  style="text-align:center" > Maus vorhanden</th>
          <th  style="text-align:center" > Headset vorhanden</th>
          <th  style="text-align:center" >Lautstärke-Level</th>
          <th  style="text-align:center" >Freie Tage</th>
          <th  style="text-align:center" ></th>
        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let workstation of filteredWorkstations">
        <td align="center">{{workstation.label}}</td>
        <td align="center" *ngIf="workstation.telephone">ja</td><td align="center" *ngIf="!workstation.telephone">nein</td>
        <td align="center" *ngIf="workstation.mouse">ja</td><td align="center" *ngIf="!workstation.mouse">nein</td>
        <td align="center" *ngIf="workstation.headset">ja</td><td align="center" *ngIf="!workstation.headset">nein</td>
        <td align="center" *ngIf="workstation.noise === 0">niedrig</td><td align="center" *ngIf="workstation.noise === 1" >mittel</td><td align="center" *ngIf="workstation.noise === 2" >laut</td>
        <td align="left" ><div style="padding-top:15px;"><ul style="list-style: none"><li *ngFor="let day of workstation.freeDays">{{day | date : 'dd.MM.yyyy'}}</li></ul></div></td>
        <td align="center" ><div><button>Reservieren</button></div></td>
    </tr>
  </tbody>
  </table>
</div>
